@import "../../theme/index.scss";

.employer-job-page {
  padding-top: 70px;

  .post-job-button {
    border-radius: 10px !important;
    background-color: rgba(46, 49, 146, 0.8) !important;
    color: white;
  }
  .employer-job-contents {
    min-height: 100px;
    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    th {
      font-size: 16px !important;
      font-weight: 600 !important;
    }

    td:nth-child(4) {
      color: rgba(46, 49, 146, 0.8);
    }
  }
}
