@import "../../theme/index.less";

.job-page {
  // background: url("../../assets/images/bubble2.png") no-repeat;
  padding-top: 90px;
  padding-bottom: 50px;

  .job-page-company-name {
    font-family: "Montserrat";
    font-size: 30px;
    padding-top: 25px;
  }
  .job-details {
    padding: 80px 60px;
    margin-top: 20px;
    background: @WHITE;
    box-shadow: @STANDARD_BOX_SHADOW;
    border-radius: @STANDARD_BORDER_RADIUS;
  }
  .job-details-title {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0 0;
    font-weight: 600;
  }
  .job-details-content {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
  }
  .job-details-button {
    background: @LIGHT_BLUE;
    color: @WHITE;
    border-radius: @STANDARD_BORDER_RADIUS;
  }
  .job-success-notification {
    padding-top: 10px;
    span {
      color: @GREEN;
      padding-right: 5px;
    }
  }
  .job-error-notification {
    padding-top: 10px;
    span {
      color: #FF0000;
      padding-right: 5px;
    }
  }

  .job-details-a-button {
    padding: 10px 13px;
    background: @GREEN;
    color: @WHITE;
    border-radius: @STANDARD_BORDER_RADIUS;
  }
  // .ant-skeleton {
  //   width: 60% !important;
  // }
}
