.ant-steps-item-title {
    font-weight: 600;
    font-size: 15px;
}
.ant-steps-item-icon{
  width: 32px;
  height: 32px;
  align-items: center;
  .anticon {
    display: inline-flex;
    color: #fff;
  }
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #1A3E40 !important;
  border-color: #00A651 !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #00A651 !important;
}
.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
  width: 2px !important;
  height: 100%;
}
