@import "../../../theme/index.less";

.company-list-block {
  .company-block-card {
    min-height: 150px;
    box-shadow: @BOX_SHADOW;
    border-radius: @STANDARD_BORDER_RADIUS;
    padding: 20px 30px 0px 30px;
    background: @WHITE;

    margin-bottom: 30px;

    img {
      width: 110px;
      border-radius: 100px;
    }

    .company-block-card-text-section {
      p {
        margin-bottom: 0px;
        font-size: 13px;
      }

      h5 {
        font-weight: 600;
      }

      padding-left: 25px;

      .company-text {
        color: rgba(46, 49, 146, 0.8);
      }

      .company-block-card-icon {
          width: 13px;
          color: rgba(46, 49, 146, 0.8);
      }
    }

    .company-block-card-icon-section {
      font-size: 13px;

      .company-block-card-icon {
        font-size: 18px;
        color:  rgba(46, 49, 146, 0.8);
      }
    }
  }
}
