@import "../../theme/index.less";

@TOOLBAR_HEIGHT: 60px;
@TOOLBAR_HEIGHT_MOBILE: 70px;

.tool-bar {
  position: sticky;
  top: 0;
  left: 0;
  height: @TOOLBAR_HEIGHT;
  width: 100% !important;
  background: #fff;
  z-index: 2;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 10px 70px;
  color: @BLACK;
  align-items: center;
  border-bottom: 1px solid #fbfbfb;

  .tool-bar-links {
    padding: 10px 20px;
    font-size: 12px;
  }
  .tool-bar-logo {
    width: 90%;
    // padding-top: 10px;
  }
  .active-page {
    background: #fff;
    box-shadow: 0px -10px 12px rgba(105, 105, 105, 15%);
  }
  .tool-bar-links > a {
    padding: 24px;
  }

  .tool-bar-button {
    background: @LIGHT_BLUE;
    padding: 5px 10px;
    border-radius: 20px;
    color: @WHITE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;

    button {
      font-size: 12px;
      background: transparent;
      color: @WHITE;
      border-color: transparent;
    }
  }

  .search-button {
    border: none;
    background: transparent;
    padding: 0px 30px;
    box-shadow: none;
    font-weight: 500;
    font-size: 20px;
  }

  .search-button:hover, .search-button:active, .search-button:visited, .search-button:focus {
    background: transparent;
    color: @LIGHT_GREY;
  }

  .user-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .user-menu-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.navbar-shadow {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04) !important;
  border-bottom: 1px solid #f5f5f5;
}

.main-content {
  padding-bottom: 150px;
  min-height: calc(100vh - @TOOLBAR_HEIGHT);
  background-color: @WHITE;
}
.background-image-left {
  background: url("../../assets/images/bubble2.png") no-repeat left top;
}

.bg-grey {
  background-color: #fbfbfb;
}
