@import "../../theme/index.scss";

.footer-block {
  background: rgba(46, 49, 146, 0.8);
  p {
    font-size: 14px;
  }

  .footer-block-first-row {
    .button-round {
      color: rgba(46, 49, 146, 0.8);
      font-size: 18px;
      border-radius: 100px;
      background: white;
      text-align: center;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
      width: 40px;
      height: 40px;
      display: inline-grid;
      align-items: center;
      margin-right: 10px;
    }
    .footer-block-first-row-subscribe {
      height: 45px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    }
    .footer-block-first-row-subscribe-button {
      background: rgba(46,49,146,.8);
      border: 2px solid #ffffff;
      border-radius: 0px 50px 50px 0px;
      margin-left: 3px;
      font-size: 15px;
      font-weight: 600;
    }
    .footer-block-first-row-subscribe-input {
      border: 2px solid rgba(46,49,146,.2);
      border-radius: 50px 0px 0px 50px;
    }
    .w-25 {
      width: 25%;
    }
    .w-65 {
      width: 65%;
    }

    h4 {
      color: $WHITE;
    }
    color: $WHITE;
    padding: 25px 0;
    align-items: center;
    margin: auto;
  }

  .footer-block-second-row {
    background: rgba(7, 7, 22, 0.9);
    padding: 80px 0;
    h6 {
      color: $WHITE;
      font-family: 'montserrat';
      font-weight: 600;
    }

    a {
      color: #fffc;
      display: block;
      padding: 5px 0;
    }
    .ccoo{
      color: #fffc;
    }
  }

  .footer-block-third-row {
    background: #070716;
    color: #ffffffa1;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 15px;

  }
}
