@import "../../theme/index.less";

.footer-block {
  background: rgba(46, 49, 146, 0.8);

  .footer-block-first-row {
    .footer-block-first-row-subscribe {
      height: 52px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    }
    .footer-block-first-row-subscribe-button {
      background: #16d0d9;
      border: 2px solid #ffffff;
      border-radius: 0px 50px 50px 0px;
      margin-left: 3px;
    }
    .footer-block-first-row-subscribe-input {
      border: 2px solid #16d0d9;
      border-radius: 50px 0px 0px 50px;
    }
    .w-30 {
      width: 30%;
    }
    .w-60 {
      width: 60%;
    }

    a:not(:first-child) {
        padding-left: 25px;
    }
    h2 {
      color: @WHITE;
    }
    color: @WHITE;
    padding: 37px 90px;
    margin: auto;
  }

  .footer-block-second-row {
    background: rgba(7, 7, 22, 0.9);
    padding: 80px 0;
    h4 {
      color: @WHITE;
    }

    a {
      color: @WHITE;
      display: block;
      padding: 5px 0;
    }
  }

  .footer-block-third-row {
    background: @BLACK;
    color: @WHITE;
  }
}
