@import "../../theme/index.scss";
.dropdown {
  width: 120px;
  border-radius: 10px;
  background-color: #fbfbfb;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;

  img {
    margin-left: 10px;
  }
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.dropdown-body.open {
  display: block;
  position: absolute;
  background-color: #fbfbfb;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: -30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;    
}

.dropdown-item {
  // padding: 10px;
  font-size: 13px !important;
  color: #808080;
  background: #fff !important;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
