.filter-element {
  min-height: 115px;
  padding-bottom: 100px;
  .filter-section {
    padding: 0 60px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    background: #fbfbfb;
    border-radius: 10px 10px 0px 0px;
    min-height: 55px;
    .filter-dropdown:not(:first-child) {
      margin-left: 10px;
    }
    .ant-select-selector {
      border: none !important;
      background: #fbfbfb !important;
    }
  }

  .filter-element-pills {
    display: flex;
    padding: 30px 60px;
  }
}
