@import "../../theme/index.scss";

.search-element {
  min-height: 40px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
  background: #fbfbfb;
  padding: 20px 0;

  .search-component {
    border-bottom: 1px solid rgba(7, 7, 22, .18);

    form {
      display: flex;
      padding: 10px 0;
      input {
        width: 100%;
        border: none;
        outline: none;
        padding-left: 10px;

        &::placeholder {
          padding: 7px 7px 15px 0px;
          font-style: italic;
          background: #fbfbfb;
        }
      }
    }
  }

  .search-element-padding {
    padding: 10px 0;
    align-items: center;
  }

  .search-element-button {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 10%);
    border-radius: 50px;
    outline: none;
    color: $BLUE;
    border: none;
    background: #fff;
    font-weight: 600;

    >div {
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 600;

      >*:is(:first-child) {
        padding-right: 5px;
      }
    }
  }

  .search-page-filter {
    display: flex;
    justify-content: space-between;
  }

  .ant-input-affix-wrapper {
    color: $GREY !important;
    border: none !important;
    background: #fbfbfb;
    font-size: 20px;
    border-bottom: 1px solid rgba(7, 7, 22, 0.18) !important;

    input {
      padding: 7px !important;
      font-style: italic !important;
      background: #fbfbfb;
    }
  }
}