.user-heading-element {

  .logged-in-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .logged-in-nav {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
    color: rgba(7, 7, 22, 0.9);
  }
}

.pb-70 {
  padding-bottom: 70px;
}