@import "../../theme/index.scss";

.singleblog{
    padding-top: 70px;
    .singleblog-top{
        box-shadow: $STANDARD_BOX_SHADOW;
        background: $WHITE;
        margin-bottom: 5px;
        padding: 25px 15px 15px 15px;
        border-radius: 10px 10px 0 0;
        h1{
            margin-bottom: 5px;
        }
        .bigblogdate{
            margin-bottom: 10px;
            display: block;
        }
        img{
            width: 100%;
        }
    }
    .singleblog-bottom{
        box-shadow: $BOX_SHADOW;
        background: $WHITE;
        margin-top: 5px;
        padding: 25px 25px 75px 25px;
        border-radius: 0px 0px 10px 10px;
        .singleblog-details{
            font-size: 15px;
            text-align: justify;
            b{
                font-size: 16px;
            }
        }
        .blog-buttons{
            justify-content: space-between;
            display: flex;
            margin: 100px 100px 0px 100px;
            .blog-button{
                background: $LIGHT_BLUE;
                color: $WHITE;
                font-weight: bold;
                .blog-next-button{
                    padding-left: 10px;
                }
                .blog-previous-button{
                    padding-right: 10px;
                }
            }
        }
    }
}
